<<<<<<< HEAD
body{
    background-color:black
}

.artist-buttons{
    float: right;
}

img {
    width:400px;
    height:auto
}
=======
img {
    width: 200px;
    height: auto;
}
>>>>>>> aad06dbda96b93c83e098b0b9925a5f2aa03b670
