body{
    background-color: #651e3e
}
.col-md-3 {
    float: left;
    
}
.purple {
    background: #451e3e;
    color: white;
}
/* .col-sm-4 {
    float: left;
} */
.artist-buttons{
    float: right;
}

#eventImage {
    width: 300px;
    height: auto;
}
img {
    width:300px;
    height:auto;
    margin-top: 10px;
}
 #map{
    position: relative;
    top: 50px;
    height: 450px;
    width: 450px;
    border: 5px solid black;
    border-radius: 10px;
 }
 .row {
     margin: 0 auto;
 }
 #image {
    width: 300px;
    text-align: center;
    margin: 0 auto;
 }
 .navbar {
     background: #251e3e ;
     color: white
 }
#submit {
    color: white;
    border: 1px solid white;
}
.card-link {
    background:	 #163277;
    color: white;
    padding: 5px;
    text-align: center;
    display: inline-block;
}
.card-link:hover {
    color: navajowhite;
}
.card-title {
    text-align: center;
}
.welcome {
    margin: 0 auto;
    margin-top: 15vh;
    background: rgba(256, 256, 256, .7);
    padding: 10px;
    border-radius: 2%;
    text-align: center
}
.welcome input {
    margin-left: 12.5%;
    margin-top: 15px;
    width: 75%;
}
.welcome #submit{
    color: black;
    border: 1px solid black;
}


#buttonInfo {
    background: #10377a;
    color: white;
    border: 1px solid black;
    padding: 5px;
    margin: 5px; 
    border-radius: 10px;
}
#homeSearch {
    color: white;
    border: 1px solid black;
    width: 200px;
    border-radius: 10px;
    background: #251e3e
}
#reset {
    background: red;
    color: white;
    border: 1px solid black;
    padding: 5px;
    margin: 5px; 
    border-radius: 10px;
    
}
.home {
    background: url("https://ak5.picdn.net/shutterstock/videos/4863305/thumb/1.jpg");
    height: 100vh;
    background-size: cover
}
